doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/lumx.css')
    link(rel='stylesheet', href='/vendor/flexboxgrid.css')
    link(rel='stylesheet', href='/vendor/rzslider.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='shortcut icon', href='/img/logo-almundo.svg', type='image/svg') 
  body
    block content
    
    block footer
      script(src="/dist/lib.js")
      script(src="/scripts/hotels.js")